*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #05021f;
    color: #e3dede;
    font-family: Ubuntu ;
}
header{
    max-width:1200px;
    margin: 0 auto;
    max-width:1200px;

    height:90px;
    padding: 1rem 6rem
}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size:22px;
    margin-right: 2rem;


}
.dark-mode{
 position: absolute;
 right: 0;   
   
   
    
}

#toggle{
    -webkit-appearance: none;
    appearance: none;
    height:40px;
    width:60px;
    background:#4572cc;
    outline:none;
    
    cursor:pointer;
    border-radius: 20px 0  0 20px;
}

.light-mode #toggle::after{
    background:#e3dede;
    top: 5px;
    left: 10px;
    height: 30px;
    width: 30px; 
    box-shadow:  none;
    
}
#toggle:after{
    content:'';
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: transparent;
    top: -5px;
    
    box-shadow:  10px 10px #e3dede;


}

nav iframe{
    border: none;
}


main{
    
    max-width:1200px;
    margin: 10rem  auto;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section iframe{
    border: none;
    width: 350px;
    height: 350px
}

.about h1{
    font-size:32px;

}
.about p{
    margin:1.5rem 0;
    font-size:20px;
    font-weight:400;
}

.conecta{
    margin-top:2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
 button{
    border: none;
    background: #66a1ee; 
    color: #e3dede;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-weight: 500;
}

.conecta a {
    text-decoration: none;
    border: 2px solid #66a1ee;
    padding: .8rem 1.5rem;
    color: #66a1ee;
    font-weight: 400;
    font-size:22px;
    border-radius: 5px;
}
.conecta .connect{
    border: 2px solid #0a043e;
    color: #0a043e;

}


.light-mode{
    background: #e3dede;
    color: #05021f;    
}
 .btn{
    background: #0a043e;
}

.light-mode #toggle{
    background:#0a043e;
}




footer{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:40px;
    padding-bottom: 5px;
    background-color: rgb(5, 8, 63);
}
footer a {

    color: #66a1ee;
    text-decoration: none;
}
h3{
    color: #e3dede;
}