

body{
    background: #05021f;
    color: #e3dede;
    font-family: Ubuntu ;
}


nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1200px;
    height:90px;
    padding: 1rem 6rem
}

nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size:22px;


}

nav iframe{
    border: none;
}


main{
    margin-top:10rem ;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section iframe{
    border: none;
    width: 350px;
    height: 350px
}

.about h1{
    font-size:32px;

}
.about p{
    font-size:20px;
    font-weight:400;
}

.conecta{
    margin-top:2rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.conecta button{
    border: none;
    background: #66a1ee;
    color: #e3dede;
    border-radius: 5px;
    padding: 1.1rem 1.5rem;
    font-size: 17px;
    font-weight: 600;
}

.conecta a {
    text-decoration: none;
    border: 2px solid #66a1ee;
    padding: .8rem 1.5rem;
    color: #66a1ee;
    font-weight: 400;
    font-size:22px;
    border-radius: 5px;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:40px;
    padding-bottom: 5px;
    background-color: rgb(5, 8, 63);
}
footer a {
    color: #66a1ee;
    text-decoration: none;
}